.container {
    
    display: flex;
    justify-content: center;
    align-items: center;
   
   
}

.signup-form {
    margin-top: 5rem;
    width: 500px;
    margin-right: 20px;
    padding: 20px;
  
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 6.7rem;
}

.signup-form input {
    
    width: 95%;
    margin: 10px;
    
    padding: 8px;
}

.signup-form button {
    width: 100%;
    padding: 10px;
   
}

.image-container {
    text-align: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.pickup-line {
    text-align: center;
    margin-top: 20px;
    font-style: italic;
}
.username{
    display: flex;
}
.userpassword{
    display: flex;
}