body{
    width: 100%;
    height: 100%;
}


.signup-form {
  
    width: 600px;
    margin-left: 16rem;
    margin-bottom: 2rem;
    padding: 20px;
    
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

.signup-form input {
    
    width: 100%;
    
    
    
}

.signup-form button {
    width: 100%;
    padding: 10px;
   
}

.image-container {
    text-align: center;
    margin-left: 25rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.image-container img {
    max-width: 100%;
    height: auto;
}


.username{
    display: flex;
    justify-content: space-between;
}
.userpassword{
    display: flex;
    justify-content: space-between;
}

.otp-submit{
display: flex;
justify-content: space-between;
}