<footer>
    <div class="footer-content">
      <div class="logo">
        <img class="footer-img" src="/images/logo-golden.png" alt="Your Logo">
        <p  style="margin-left: 6rem;">"elevating your every beat!"</p>
      </div>
      <div class="footer-sections">
        <div class="products">
          <h3>Headphones</h3>
        </div>

        <div class="contact">
          <h3>Customer Care</h3>
          
        </div>
        <div class="contact">
          <h3> About Us</h3>
          
        </div>
        <div>
          <span class="col-lg-2 justify-content-center d-flex align-items-center">
            <div class="social-media"><i class="fab fa-instagram text-dark"></i></div>
            <div class="social-media"><i class="fab fa-facebook-f text-dark"></i></div>
            <div class="social-media">  <i class="fab fa-twitter text-dark"></i></div>
            <div class="social-media"> <i class="fab fa-whatsapp text-dark"></i></div>
            
            
          
           
          </span>
        </div>
        
      </div>
    </div>
 
    <div class="root">
      
      <p>Copyright &copy;2023 |AUDIOSYNC| Made by <a href="https://github.com/94edwin89" style="color: gray;">Edwin Jude</a></p>
    </div>
  </footer>
  
  <!-- ... (previous HTML code) ... -->
  
  
  
     

     
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    
  </body>
  </html>